* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  background-color: #f8f7f6;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

/*

.libre-caslon-text-regular {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-caslon-text-bold {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-caslon-text-regular-italic {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
}

.libre-caslon-display-regular {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}

*/

textarea {
  resize: none;
}

textarea:focus, .formInputs input:focus {
  outline: none
}

textarea, input {
  padding: 3px;
  user-select: text;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  justify-self: flex-start;
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

#collapseDiv {
  height: 5rem;
  width: 80%;
  margin: 0 10%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1CA390;
  box-shadow: inset 0 -3px 4px #00000044;
  color: white;
  z-index: 100;
  position: fixed;
  top: 0;
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}

#nav-left {
  height: 4em;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

#nav-left::-webkit-scrollbar {
  display: none;
}

.leftLink {
  text-decoration: none;
  font-weight: 600;
  height: 100%;
  padding: 0 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#newLinks {
  height: 5em;
  width: 100%;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.center {
  margin: 0 3%;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.podcast {
  position: relative;
}

.podcast img {
  position: absolute;
  left: calc(50% + 2.5rem);
  bottom: 0;
}

#collapse {
  cursor: pointer;
}

#closeAnchors, #openAnchors {
  align-self: center;
  margin-top: 5px;
  cursor: pointer;
}

/* content top margin manager for all pages */

.manager {
  margin: 5rem 0 0 0;
}

@media only screen
  and (max-width: 812px) {
    #newLinks {
      height: 16rem;
    }

    .links {
      flex-direction: column;

    }
    .manager {
      margin: 16rem 0 0 0;
    }
  }

/* about.js */

#about {
  min-height: 100vh;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about {
  background-color: transparent;
}

.container {
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 5;
}

.aboutArt {
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 1rem;
  position: relative;
  /*backdrop-filter: blur(.25rem);*/
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
}

.aboutArt::-webkit-scrollbar {
  display: none;
}

.aboutHead {
  max-width: 70%;
  margin: 2rem 0;
  position: relative;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}

#logo {
  height: 100%;
  width: 100%;
  min-width: 12rem;
  z-index: 1;
}

.aboutArt h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  line-height: 2.8rem;
  text-align: center;
  color: #ffffffee;
  text-shadow: 0 0 5px black;
  z-index: 2;
}

.aboutTags {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
}

.aboutTag {
  max-width: 35rem;
  min-width: 17rem;
  margin: .25rem;
  border-radius: .25rem;
  display: grid;
  justify-items: center;
  grid-gap: .5rem;
}

.aboutTag span {
  max-width: 30rem;
}

.topTag {
  padding: 2rem .5rem;
  grid-template-rows: 6rem auto;
  background-color: #FFA850;
  box-shadow: 2px 2px 4px #00000088;
}

.topTag svg {
  align-self: center;
}

.bigTag {
  width: calc(50% - .5rem);
}

@media screen
and (max-width: 739px) {
  .bigTag {
    width: calc(100% - .5rem);
  }

  .smallTag {
    width: calc(100% - .5rem);
  }
}

.smallTag {
  grid-column: 3 / 4;
}

/* project switcher */

.projectSwitch {
  position: absolute;
  bottom: 15px;
  left: 10px;
  padding: 3px 5px 5px;
  border: 1px solid black;
}

/* new projects.js */

#projects2 {
  min-height: 100vh;
  background-color: white;
}

.newProjects {
  background-color: #f8f7f6;
}

.projectsWrapper {
  height: 100%;
  padding: 5rem 5px 5px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.filterWrapper {
  padding: .75rem 2rem;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filterButton {
  margin: 2px;
  padding: 2px;
  font-weight: 800;
  background-color: transparent;
  border-radius: 3px;
}

.filterButton:focus {
  background-color: #00006666;
}

.filterButton {
  color: #606060;
  border: 2px solid #606060;
}

.projectsDisplay {
  min-height: calc(100vh - 5rem);
  width: auto;
  padding: .5rem 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: visible;
}

.projectsDisplay::-webkit-scrollbar {
  display: none;
}

.projectCard {
  height: 15rem;
  width: 24rem;
  position: relative;
  color: white;
  cursor: pointer;
}

.projectCard:hover, .projectCard:focus {
  outline: 2px solid red;
  outline-offset: -2px;
  z-index: 2;
}

.visibleProject {
  height: 100%;
  width: 100%;
  background-color: #444444;
  border-radius: .3rem .3rem 0 0;
}

.visibleProject img {
  height: 100%;
  width: 100%;
  /*margin: 1.5%;*/
}

.invisibleProject {
  position: absolute;
  padding: .5rem;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #000000aa;
}

.biggerCard {
  height: 33rem;
  width: 25rem;
  padding: .5rem;
  color: white;
  background-color: #444444;
  border: 2px solid #22222288;
  border-radius: .5rem;
  display: grid;
  grid-template-rows: 3fr 7fr 50%;
}

.biggerCard h2 {
  padding: .5rem 2rem 0;
  justify-self: center;
  font-size: 1.6rem;
}

.midBig {
  padding: 5px 0 0 5px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: flex-start;
}

.midBig img {
  margin: 5px 0 5px 5px;
  max-width: 90%;
  cursor: pointer;
}

.new-pro-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-pro-links a {
  margin: .75rem 0;
  color: white;
}

.newBottom {
  padding: .25rem;
  background-color: #88888888;
  overflow-y: scroll;
}

.newBottom::-webkit-scrollbar {
  display: none;
}

.newFullImg, .biggerProject {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 4em;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.newFullImg img {
  max-height: 90%;
  max-width: 80%;
}

/* old projects.js */

#package {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: row;
}

.package {
  background-color: white;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}

#book-cloud {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#pro-book {
  height: 25rem;
  width: 20rem;
  position: relative;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5);
  perspective: 50rem;
  transition: 1s ease-in-out;
}

#front-cover {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1px 2px 2px 1px;
  background-color: var(--dark-color);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

#coverDec {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5%;
  background-image: url('./components/BookCoverWriting.jpg');
}

#coverDec {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#pro-head {
  font-size: 2rem;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.7);
  border: 4px solid black;
  padding: 5px;
}

#byMe {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-weight: 600;
}

.pro-content {
  height: 99%;
  width: 99%;
  position: absolute;
  top: .5%;
  left: 0;
  padding: .75rem;
  background-color: rgb(224, 211, 175);
  background: rgb(224, 211, 175);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  transform-origin: 0 0;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.pro-content > div {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 40% 1fr;
  justify-items: center;
}

.pro-con-title {
  background: rgb(224, 211, 175);
}

.pro-content img {
  height: 100%;
  width: 90%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background: rgb(224, 211, 175);
}

.pageBottom {
  max-height: 100%;
  width: 100%;
  padding-top: .5rem;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  overflow-y: hidden;
}

.proDesc {
  height: 100%;
  width: 100%;
  margin-top: .2rem;
  padding: .2rem;
  overflow-y: scroll;
  font-size: .8rem;
  box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.5);
}

.proDesc p {
  margin-bottom: .4rem;
  text-indent: .5rem;
}

.proDesc::-webkit-scrollbar {
  display: none;
}

.pro-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pro-links a {
  margin: .75rem 0;
  color: black;
}

#back-cover {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--dark-color);
  border-radius: 1px 2px 2px 1px;
  padding: .75rem;
  line-height: 1.25rem;
}

#back-cover p {
  margin-bottom: .5rem;
}

#back-cover p a {
  color: white;
  text-decoration: none;
}

.count-body h2 {
  font-size: 1.3rem;
  text-align: center;
}

.counts {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  text-align: center;
  margin: 1rem 0 .5rem;
}

.year, .month, .day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  margin: auto;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}

.count-label {
  font-size: .9rem;
}

#controls {
  width: 75%;
  margin: 8% auto 4%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#page-back, #page-forward {
  margin: 0 1rem;
  z-index: 20;
}

#page-back:hover, #page-forward:hover {
  color: red;
  transform: scale(1.1);
  transition: 150 ms ease-in-out;
}

#back-cover a {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

/* skills.js */

#skills {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

#skill-head {
  font-size: 1rem;
  text-align: center;
}

#skills-cloud {
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  padding: .25rem;
  border-radius: .75rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#skill-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 .5rem;
  overflow-x: scroll;
}

#skill-content::-webkit-scrollbar {
  display: none;
}

.outer {
  height: 5rem;
  width: 5rem;
  margin: .5em 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer img {
  height: 90%;
  width: 90%;
  border-radius: 50%;
}

/* img display */

.fullImg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullImg img {
  max-height: 90%;
  max-width: 80%;
}

/* contact.js */

#contact {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 1rem;
  overflow-x: hidden;
  position: relative;
}

.bar1 {
  height: 10rem;
  width: 110vw;
  background-color: rgba(150, 247, 228, 0.9);
  position: absolute;
  top: 25rem;
  left: -5%;
  transform: rotate(-8deg);
}

.bar2 {
  height: 10rem;
  width: 120vw;
  background-color: rgba(138, 192, 129, 0.9);
  position: absolute;
  top: 0;
  left: -10%;
  transform: rotate(-18deg);
}

.contact {
  background-color: transparent;
}

.contactArt {
  min-width: 25rem;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.conImg {
  width: 350px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.conImg img {
  width: 100%;
  background: rgba(90, 68, 72, 0.4);
  border-radius: 5px;
  opacity: .95;
}

.conImg h2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.5rem;
  padding: 0 .75rem;
  color: white;
  border-bottom: 1px solid white;
}

.hireFormDiv {
  width: 90%;
  max-width: 26rem;
  height: 90%;
  margin: 1rem;
  grid-column: 1 / 3;
  font-family: 'Poppins', sans-serif;
}

.hireForm {
  font-weight: 700;
  padding: .25rem .5rem;
  background-color: #dac7aad9;
  box-shadow: 0 0 3px #ffffff80;
  position: relative;
}

.textCont {
  max-width: 20rem;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.meText {
  text-indent: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.meText p {
  padding: 10px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.formInputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.formInputs section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.conInp {
  min-width: 50%;
  margin: .25rem;
  display: flex;
  flex-direction: column;
}

.hireForm [type="submit"] {
  font-size: 1.2rem;
  background-color: rgb(105, 142, 255);
  outline: 1px solid blue;
  border: none;
  margin: 5px;
  padding: 7px 14px 4px;
  font-weight: 700;
  cursor: pointer;
}

/* Footer */

#footer {
  width: 100%;
  padding: 2rem;
  background-color: #12685C;
  text-decoration: none;
  font-weight: 600;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#footer div {
  display: flex;
  flex-direction: column;
}

/* media queries */

@media only screen
  and (min-width: 813px) {
    .leftLink svg {
      height: 30;
      width: 30;
    }

    #skillLink {
      display: none;
    }

    #package {
      flex-direction: row;
    }

    #projects {
      height: 100%;
      width: calc(100% - 8rem);
    }

    #pro-book {
      perspective: 80rem;
    }

    #skills {
      margin: 1rem 5rem 0 0;
    }

    #skills-cloud {
      height: 90%;
      width: 7em;
      margin-top: 0;
    }

    .fullImg {
      height: calc(100vh - 4rem);
    }

    .conImg {
      width: 40%;
      height: 90%;
    }

    #message {
      height: 282px;
    }

    .anchor {
      scroll-margin-top: 4rem;
    }
  }

@media only screen
  and (max-width: 812px) {
    #nav-left {
      overflow-x: scroll;
    }

    .socialTopper {
      padding: .3rem .3rem .14rem;
      background-color: #ffffffec;
      border-radius: .8rem;
      box-shadow: 0 1px 3px #000000b8;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      z-index: 6;
    }

    .socialTopper span {
      font-size: .7rem;
    }

    #socials {
      top: 3.5rem;
    }

    #aboutArt div {
      top: 15px;
    }

    .projectsWrapper {
      display: flex;
      flex-direction: column;
    }

    .filterWrapper {
      flex-direction: row;
      align-items: flex-end;
    }

    .filterButton {
      height: fit-content;
    }

    #package {
      flex-direction: column;
      padding: 2rem 0;
    }

    #skills-cloud {
      height: 7rem;
      width: 95%;
    }

    #skill-content {
      height: 100%;
      flex-direction: row;
      align-items: center;
      margin: 0 3%;
    }

    .outer {
      margin: 0 .5rem;
    }

    .fullImg img {
      max-height: 50%;
      max-width: 90%;
    }

    .bar1 {
      top: 38rem;
    }

    .bar2 {
      top: 20rem;
    }

    .contactArt {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .hireFormDiv {
      max-height: 45%;
    }

    .hireForm {
      flex-direction: column;
    }

    .formInputs {
      width: 100%;
      flex-direction: column;
    }

    textarea {
      min-height: 200px;
    }
  }