:root {
  --base-color: #f8ede3;
  --dark-color: #798777;
  --second-light: #bdd2b6;
  --accent-color: #a2b29f;
  --accent-color-dark: hsl(111, 21%, 26%);
  --shadow: rgba(0, 0, 0, 0.5);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  background-color: rgb(248, 247, 246);
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

textarea {
  resize: none;
}

textarea:focus, .formInputs input:focus {
  outline: none
}

textarea, .formInputs input {
  padding: 3px;
  user-select: text;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  justify-self: flex-start;
  align-items: center;
}

.content {
  height: calc(100% - 3em);
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

#progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  width: 0;
  z-index: 101;
  transition: width 0.2s ease;
}


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(4em + 8px);
  color: white;
  z-index: 100;
}

.light-navbar {
  background-color: rgba(213, 240, 209, .95);
  border-bottom: 2px solid #c6ddc4;
}

.dark-navbar {
  background-color: rgba(121, 135, 119, .95);
  border-bottom: 2px solid var(--dark-color);
}

#nav-left {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  padding-right: 10px;
}

#nav-left::-webkit-scrollbar {
  display: none;
}

.leftLink {
  color: var(--accent-color-dark);
  text-decoration: none;
  font-weight: 600;
  height: 100%;
  padding: 0 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftLink:hover, .leftLink:focus {
  color: var(--base-color)
}

.mode-container {
  height: 35px;
  width: 35px;
  border-radius: 25px;
  margin: .5em;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-mode-container {
  background-color: white;
}

.dark-mode-container {
  background-color: black;
}

.toggle {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.light-toggle {
  background-color: black;
  color: white;
}

.dark-toggle {
  background-color: white;
  color: black;
}

.toggle svg {
  padding: 5px;
}

#nav-right {
  padding: .5em .5em .25em;
  margin: 0 1%;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.9);
}

#nav-right:hover > #socialIcon {
  display: none;
}

#nav-right:hover > #socials {
  display: block;
}

#socials {
  width: 100%;
  display: none;
}
#socials a {
  margin: 0 .9em;
}

/* about.js */

#about {
  height: calc(100vh - 4em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-about {
  background-color: transparent;
}

.dark-about {
  background-color: rgb(43, 30, 30);
}

.container {
  position: relative;
}

.aboutArt {
  font-size: 3em;
  height: 6em;
  width: 6em;
  border: 2px solid rgba(65, 42, 42, 0.85);
  position: relative;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.aboutArt div {
  text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.5);
}

.aboutArt input {
  position: absolute;
  opacity: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
}

.aboutArt label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid 2px black;
  border-radius: 50%;
  background-color: transparent;
  margin: 5.4em 6px 0 6px;
  z-index: 20;
  cursor: pointer;
  transition-duration: .4s;
}

.aboutArt input:checked + label{
  background-color: white;
}

.aboutArt input:focus + label{
  box-shadow: 0 0 0 2px var(--dark-color), 0 0 18px white;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateX(-100%);
  transition-duration: .4s;
  opacity: 1;
}

.aboutArt input:checked ~ .slide {
  transform: translateX(100%);
}

.aboutArt input:checked + label + .slide {
  transform: translateX(0);
  opacity: 1;
}

.codingCard{
  background-color: rgb(230, 255, 215);
  font-size: .5em;
}

.codingCard code {
  font-size: .6em;
}

.blue {
  color: blue
}

.mainCard{
  background-color: var(--second-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
}

#im {
  padding-left: 40px;
  font-family: 'Dancing Script', cursive;
  font-size: .75em;
  font-weight: 500;
}

#cursName {
  font-family: 'Allison', cursive;
  font-size: 1.75em;
  display: block;
  transform: rotateY(10deg) rotateZ(-10deg);
  margin-bottom: .5em;
}

.writingCard{
  background-color: rgb(230, 255, 215);
  font-family: 'Times New Roman', Times, serif;
  font-size: .4em;
  text-indent: .75em;
  text-align: justify;
  padding: .3em;
}

.writeHead {
  text-align: center;
  font-size: 1.1em;
}

#resume {
  position: relative;
  top: -25px;
  left: 3px;
  font-size: .8em;
  font-weight: 700;
  position: absolute;
}

#resume a {
  color: black;
  text-decoration: none;
}

/* projects.js */

#package {
  max-height: 100vh;
  display: flex;
  flex-direction: row;
}

.light-package {
  background-color: var(--second-light);
}

.dark-package {
  background-color: rgb(75, 85, 71);
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#book-cloud {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#pro-book {
  height: 25em;
  width: 20em;
  position: relative;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5);
  perspective: 50em;
  transition: 1s ease-in-out;
}

#front-cover {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1px 2px 2px 1px;
  background-color: var(--dark-color);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

#coverDec {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5%;
  background-image: url('./components/BookCoverWriting.jpg');
}

#coverDec {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#pro-head {
  font-size: 2em;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.7);
  border: 4px solid black;
  padding: 5px;
}

#byMe {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-weight: 600;
}

.pro-content {
  height: 99%;
  width: 99%;
  position: absolute;
  top: .5%;
  left: 0;
  padding: .75em;
  background-color: rgb(224, 211, 175);
  background: rgb(224, 211, 175);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  transform-origin: 0 0;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.pro-content > div {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 40% 1fr;
  justify-items: center;
}

.pro-con-title {
  background: rgb(224, 211, 175);
}

.pro-content img {
  height: 100%;
  width: 90%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background: rgb(224, 211, 175);
}

.pageBottom {
  max-height: 100%;
  width: 100%;
  padding-top: .5em;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  overflow-y: hidden;
}

.proDesc {
  height: 100%;
  width: 100%;
  margin-top: .2em;
  padding: .2em;
  overflow-y: scroll;
  font-size: .8em;
  box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.5);
}

.proDesc p {
  margin-bottom: .4em;
  text-indent: .5em;
}

.proDesc::-webkit-scrollbar {
  display: none;
}

.pro-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pro-links a {
  margin: .75em 0;
  color: black;
}

#back-cover {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--dark-color);
  border-radius: 1px 2px 2px 1px;
  padding: .75em;
  line-height: 1.25em;
}

#back-cover p {
  margin-bottom: .5em;
}

#back-cover p a {
  color: white;
  text-decoration: none;
}

.count-body h2 {
  font-size: 1.3em;
  text-align: center;
}

.counts {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  text-align: center;
  margin: 1em 0 .5em;
}

.year, .month, .day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  margin: auto;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}

.count-label {
  font-size: .9em;
}

#controls {
  width: 75%;
  margin: 8% auto 4%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#page-back, #page-forward {
  margin: 0 1em;
  z-index: 20;
}

#page-back:hover, #page-forward:hover {
  color: red;
  transform: scale(1.1);
  transition: 150 ms ease-in-out;
}

#back-cover a {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

/* skills.js */

#skills {
  display: flex;
  flex-direction: column;
}

#skill-head {
  font-size: 1em;
  text-align: center;
}

#skills-cloud {
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  padding: .25em;
  border-radius: .75em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#skill-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 .5em;
  overflow-x: scroll;
}

#skill-content::-webkit-scrollbar {
  display: none;
}

.outer {
  height: 5em;
  width: 5em;
  margin: .5em 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer img {
  height: 90%;
  width: 90%;
  border-radius: 50%;
}

/* img display */

.fullImg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullImg img {
  max-height: 90%;
  max-width: 80%;
}

/* contact.js */

#contact {
  height: calc(100vh - 4em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-contact {
  background-color: transparent;
}

.dark-contact {
  background-color: rgb(43, 30, 30);
}

.contactArt {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
}

.conImg {
  max-height: 90vh;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conImg img {
  max-height: 100%;
  max-width: 100%;
  background: rgba(90, 68, 72, 0.4);
  border-radius: 5px;
}

.hireFormDiv {
  width: 90%;
  height: 90%;
  margin: 1em;
}

.hireFormDiv > h2 {
  width: fit-content;
  font-size: 2.5em;
  margin-bottom: .75em;
  margin-left: 15%;
  padding: 0 .75em;
  border-bottom: 1px solid black;
}

.hireForm {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  padding: .25em .5em;
  background-color: rgba(218, 199, 170, 0.85);
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  position: relative;
}

.left-body, .formInputs {
  width: 50%;
}

.left-body {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.meText {
  text-indent: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.meText p {
  padding: 10px 0;
}

.formInputs, .formInputs div {
  display: grid;
}

.hireForm [type="submit"] {
  font-size: 1.2em;
  background-color: rgb(105, 142, 255);
  outline: none;
  border: none;
  margin: 5px;
  padding: 7px 14px 4px;
  font-weight: 700;
}

/* media queries */

@media only screen
  and (min-width: 813px) {
    #navbar {
      position: sticky;
      top: 0;
    }

    #nav-left {
      width: calc(90% - 11em);
    }

    .leftLink svg {
      height: 30;
      width: 30;
    }

    #skillLink {
      display: none;
    }

    #package {
      flex-direction: row;
      height: calc(100vh - 4em);
    }

    #projects {
      height: 100%;
      width: calc(100% - 8em);
    }

    #pro-book {
      perspective: 80em;
    }

    #skills {
      margin: 1em 2em 0 0;
    }

    #skills-cloud {
      height: 90%;
      width: 7em;
      margin-top: 0;
    }

    .fullImg {
      height: calc(100vh - 4em);
    }

    .conImg {
      width: 40%;
      height: 90%;
    }

    #message {
      height: 282px;
    }

    .anchor {
      scroll-margin-top: 4em;
    }
  }

@media only screen
  and (max-width: 812px) {
    #nav-left {
      max-width: 50%;
      overflow-x: scroll;
      box-shadow: inset -3px 0 4px -2px var(--shadow),
        inset 3px 0 4px -2px var(--shadow);
    }

    .leftLink svg {
      height: 24;
      width: 24;
    }

    #about {
      height: 100vh;
    }

    #aboutArt div {
      top: 15px;
    }

    #package {
      flex-direction: column;
      padding-bottom: 4em;
    }

    #projects {
      height: calc(100vh - 8em);
    }

    #skills-cloud {
      height: 7em;
      width: 95%;
    }

    #skill-content {
      height: 100%;
      flex-direction: row;
      align-items: center;
      margin: 0 3%;
    }

    .outer {
      margin: 0 .5em;
    }

    .fullImg img {
      max-height: 50%;
      max-width: 90%;
    }

    #contact {
      height: 100vh;
    }

    .contactArt {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .conImg {
      min-height: 10%;
      max-height: 45%;
      min-width: 10%;
      max-width: 75%;
    }

    .hireFormDiv {
      max-height: 45%;
    }

    .hireForm {
      flex-direction: column;
    }

    .left-body, .formInputs {
      width: 100%;
    }

    textarea {
      min-height: 100px;
    }
  }